/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 */

/**
 * This uses the background and foreground colors declared in the `theme.json`
 * file and is applied both to the front end and in the block editor.
 */
body {
	@apply text-foreground font-sans;
	background-color: #262e39;
	color: #d0d1d4;
}
a{
	color: #0096e9;
	transition: color .2s ease;
}
a:hover{
	color: #004cb0;
}
/* navbar */
#top-nav{
	padding: .5rem 1rem;
	background-color: #1e2939;
	color: #d0d1d4;
}
.breadcrumbs{
	display: flex;
	flex-direction: row;
	gap: 1rem;
	font-size: 0.9em;
	margin: auto 0;
}
.breadcrumbs a {
	text-decoration: none;
	  color: #0073aa;
}
.breadcrumbs a:hover {
  	text-decoration: underline;
}
/* typography */
h1,h2,h3,h4,h5,h6{
	color: #e1e1e1;
}
/* homepage */
article, #comments{
	max-width: 40rem;
	margin: 2rem auto;
}
.disclaimer-wrapper{
	max-width: 40rem;
	margin: auto;
	display: flex;
	flex-direction: row;
}
#disclaimer .disclaimer-wrapper{
	margin-top: 2rem;
}
.section-disclaimer{
	display: flex;
	flex-direction: row;
}
.section-disclaimer svg{
	width: 2rem;
	height: 2rem;
	margin: 1rem 2rem;
	color: #36b7ff;
}
article{
	max-width: 40rem;
	margin: 2rem auto;
	border: 1px solid #a6a6a6;
	border-radius: 1rem;
	padding: 1rem;
	background-color: #333238;
}
.entry-footer, .entry-meta{
	flex-direction: row;
	display: flex;
	gap: .5rem;
	margin: 1rem auto;
}
/* sections */
.section-header{
	padding-top: 3rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
	max-width: 40rem;
	margin: auto;
}
.section-header h2{
	font-size: 1.2rem;
	font-weight: 600;
}
.text-highlight{
	font-weight: 700;
	color: #36b7ff;
	margin-right: .3rem;
}
.code{
	background-color: #25292e;
	padding: 15px 25px;
	border-radius: 6px;
	font-family: monospace;
	font-size: 0.875rem;
	overflow-x: auto;
	line-height: 1.4;
	color: #36b7ff;
	margin: .5rem auto;
}
/* weather api */
.weather-wrapper{
	max-width: 40rem;
	margin: 1rem auto;
}
.weather-wrapper .weather-data{
	color: #fff;
}
/* form */
.form-validate{
	max-width: 40rem;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.form-validate #demo-form{
	display: flex;
	flex-direction: column;
	background-color: #181b1e;
	border-radius: .5rem;
	border: 1px solid #a6a6a6;
	margin: 2rem auto;
	gap: 1rem;
	padding: 1rem 2rem;
}
.form-validate #demo-form input{
	background-color: #25292e;
	padding: 0.5rem 1rem;
	border-radius: .5rem;
	font-size: .8rem;
}
.form-validate #demo-form button{
	background-color: #0080ff;
	border-radius: .25rem;
	text-transform: uppercase;
	padding: .5rem 1rem;
	font-size: .8rem;
}
.form-validate #form-result{
	display: flex;
	margin: auto;
	text-align: center;
}